{% if theme.image_sets.slideshow.size > 0 %}
  <div class="flexslider home-slideshow">
    <ul class="slides">
      {% for image in theme.image_sets.slideshow %}
        <li>
          <img alt="Photos by @__kevindaniel. Logo by @myfetalbrain" srcset="{{ image.url | constrain: 1068 }}, {{ image.url | constrain: 2136 }} 2x" src="{{ image.url | constrain: 1068 }}">
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="slideshow-caption">
  <p>Photos by @__kevindaniel. Logo by @myfetalbrain</p>
</div>