/* jQuery FlexSlider v2.7.1
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 and later license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author: Tyler Smith (@mbmufffin)
*
*/
/* ====================================================================================================================
* RESETS
* ====================================================================================================================*/

.flex-container a:hover,
.flex-slider a:hover {
 outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
 margin: 0;
 padding: 0;
 list-style: none;
}
.flex-pauseplay span {
 text-transform: capitalize;
}
